.gridrow {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.gridcolumn {
  flex: 100%;
  max-width: 100%;
  padding: 25pt;  
}

.gridcolumn img {
  vertical-align: middle;
}

.imgcontainer {
  position: relative;
  width: 100%;
}

.imgimage {
  display: block;
  width: 100%;
  height: 100%;
  
}

.imgoverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0%;
  right: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  background-color: rgba(0,0,0,0.125);
}

.imgcontainer:hover .imgoverlay {
  opacity: 1;
}

.imgtext {
  color: white;
  font-size: 30px;
  font-weight:bold;
  text-align:center;
  padding-top: 40%;
}

.link{
  color: white;
}

.link:hover{
  color: white;
}
@media screen and (min-width: 920px){

  .gridcolumn {
    flex: 50;
    max-width: 100%;
   
 
  }

  .imgoverlay { 
    opacity: 0;
    background-color: rgba(0,0,0,0.5);
    
  }
}