.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 300px;
  width: 300px;
}

.imgContainer {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.imgOverlay {
  height: 300px;
  width: 300px;
  transition: 0.5s ease;
  background-color: rgba(0,0,0,0.125);
}

.imgContainer:hover .imgOverlay {
  opacity: .7;
}

.imgtext {
  color: black;
  font-size: 24px;
  font-weight:bold;
  display: flex;
  text-align: center;
}

@media screen and (min-width: 920px){
  .imgOverlay { 
    opacity: 1;
    background-color: rgba(0,0,0,0.5);
    
  }
}