/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  text-align: center;
  position: relative;
  overflow: hidden;
}

.portrait {
  border-radius: 50%;
}

.blurb{
  text-wrap: balance;
  width: 100%;

}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.blurb{
  padding-left: 25%;
  text-wrap: balance;
  width: 75%;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

